@import '@fontsource-variable/saira';
@import '@infolektuell/noto-color-emoji';
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
body {
	@apply bg-gradient-to-b from-gray-950 to-gray-900 text-white;
	font-family: 'Saira Variable', 'Noto Sans CJK JP', sans-serif;
}

@theme {
	--font-emoji: 'Noto Color Emoji', sans-serif;
	--font-saira: 'Saira Variable', 'Noto Sans CJK JP', sans-serif;
}

@layer components {
	.glass-card-container {
		@apply shadow-[0_0_25px_rgba(255,255,255,0.08)];
	}

	.glass-card {
		@apply relative;
		@apply border-white/30 bg-gradient-to-br from-slate-600/60 to-slate-800 backdrop-blur-lg;
		@apply hover:z-10 hover:scale-105 hover:bg-white/60 hover:shadow-2xl;
		@apply shadow-2xl;
		@apply ring-1 ring-white/30;
		@apply transition-all duration-200;
	}

	.glass-table {
		@apply relative;
		@apply border-white/30 bg-gradient-to-br from-slate-600/60 to-slate-800 backdrop-blur-lg;
		@apply hover:z-10;
		@apply shadow-2xl;
		@apply transition-all duration-200;
		@apply border-collapse;
	}

	.glass-table > thead > tr {
		@apply border-y-2 border-gray-400 text-left text-sm text-gray-400 backdrop-blur-lg;
	}

	.glass-table > thead > tr > th {
		@apply hover:bg-white/10;
	}

	.glass-table > tbody > tr {
		@apply border-y border-gray-500 px-4 py-2 transition-all duration-200 hover:bg-white/10;
	}

	.glass-card-bottom-button {
		@apply block w-full rounded-b-lg border border-white/20 px-4 py-2 text-center text-lg text-white ring-1 ring-white/20 backdrop-blur-sm transition-all duration-200 hover:scale-105 hover:border-white/30 hover:bg-white/5 hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.2)];
	}
}
